[submodule "jsoncpp"]
	path = jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
[submodule "SQLiteCpp"]
	path = SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "uriparser"]
	path = uriparser
	url = https://github.com/uriparser/uriparser.git
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
